html, body {
  margin: 0;
  padding: 0;
  font-family: "Copperplate", "Futura", "Garamond", serif;
  color: #f5e1c0;
  text-align: center;
   text-shadow: 1px 1px 2px #5a3e2b; 

  background-image: url('WN BG.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%;
}

#sketch {
  margin: 20px auto;
  display: block;
}

.controls {
  text-align: center;
  flex-wrap: wrap;
  margin: 10px auto;
}

#toggle-sound-1 {
   background-color: #f5e1c0;  
  color: #5a3e2b;
  border: 2px solid #5a3e2b;
  padding: 12px 25px;
  font-size: 18px;
  border-radius: 12px;
  cursor: pointer;
}
#toggle-sound-2 {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background: linear-gradient(to right, #4facfe, #00f2fe); 
  color: white;
  border: none;
  border-radius: 8px;
}

#random-circle-color {
padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background: linear-gradient(to right, #4facfe, #00f2fe); 
  color: white;
  border: none;
  border-radius: 8px;
}

.back-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background: linear-gradient(to right, #4facfe, #00f2fe); 
  color: white;
  border: none;
  border-radius: 8px;
}

.labels {
background-color: #f5e1c0;  
  color: #5a3e2b;
  border: 1px solid #5a3e2b;
  padding: 12px 25px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}
.labels-2 {
  text-align: center;
  margin-top: 20px;
  font-family: 'Times New Roman', Times, serif; 
  font-size: 18px;
  color: #00f2fe; 
  line-height: 1.6;
  text-shadow: 1px 1px 2px #5a3e2b; 
}
.name-tag-1920s {
  position: fixed;
  bottom: 10px;
  right: 20px;
  background-color: rgba(90, 62, 43, 0.8); 
  color: #f5e1c0;
  padding: 8px 15px;
  border-radius: 8px;
  font-family: "Copperplate", "Futura", "Garamond", serif;
  font-size: 14px;
  text-shadow: 1px 1px 2px #000;
  border: 1px solid #f5e1c0
}

.name-tag-ocean {
  position: fixed;
  bottom: 10px;
  right: 20px;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  color: white;
  padding: 8px 15px;
  border-radius: 20px; 
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
  text-shadow: 1px 1px 3px #00334d;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.labels p {
  margin: 8px 0;
}
@media (max-width: 700px) {
  .sketch {
    flex-direction: column;
    width: 90%;
  }
  .sketch > * {
    width: 100%;
  }
  .labels {
background-color: #f5e1c0;  
  color: #5a3e2b;
  border: 1px solid #5a3e2b;
  padding: 10px 10px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}
}



